<header>
  <nav>
    <div><h1>Pathfinder</h1></div>
    <button class="main_btn" (click)="emitRun()">Run</button>
    <button (click)="emitClearWalls()">Clear</button>
    <button>Random</button>
    <p>Algorithm :</p>
    <div class="algo_select-ctn">
      <input
        type="radio"
        name="algo_select"
        id="algo_select_bfs_inp"
        checked="checked"
        (change)="changeAlgo('BFS')"
      />
      <label for="algo_select_bfs_inp">BFS</label>
    </div>
    <div class="algo_select-ctn">
      <input
        type="radio"
        name="algo_select"
        id="algo_select_dfs_inp"
        (change)="changeAlgo('DFS')"
      />
      <label for="algo_select_dfs_inp">DFS</label>
    </div>
    <div class="algo_select-ctn">
      <input
        type="radio"
        name="algo_select"
        id="algo_select_dijkstra_inp"
        (change)="changeAlgo('Dijkstra')"
      />
      <label for="algo_select_dijkstra_inp">Dijkstra</label>
    </div>
    <div class="algo_select-ctn">
      <input
        type="radio"
        name="algo_select"
        id="algo_select_a_inp"
        (change)="changeAlgo('A*')"
      />
      <label for="algo_select_a_inp">A*</label>
    </div>
    <div class="diagonals-checkbox-ctn">
      <label for="allow_diagonals" class="switch-text-label"
        >Allow diagonals</label
      >
      <input type="checkbox" id="allow_diagonals" name="allow_diagonals" />
      <label for="allow_diagonals" class="switch-label"></label>
    </div>
  </nav>
</header>
