header {
  height: 100%;
  overflow: scroll;
}

button {
  font-family: "roboto";
  color: #fff;
  background-color: #02577a;
  border-radius: 3px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #006894;
}

nav {
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #02577a;
  color: #fff;
  padding: 1em;
  overflow: scroll;
}

nav h1 {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
}

nav > button {
  font-size: 1.3em;
  padding: 0.4em;
  margin-bottom: 1em;
}

nav > button.main_btn {
  background-color: #02a9f7;
  border: 0;
  transition: 0.1s;
}

nav > button.main_btn:hover {
  background-color: #20b3f7;
}

.algo_select-ctn {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}

.algo_select-ctn > label {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.algo_select-ctn input {
  display: none;
}

.algo_select-ctn input:checked + span {
  background-color: #024663;
}

.algo_select-ctn input:checked + span:before {
  box-shadow: inset 0 0 0 0.125em #024663;
}

.algo_select-ctn span {
  display: flex;
  align-items: center;
  padding: 0.4em 0.75em 0.4em 0.4em;
  border-radius: 99em;
  transition: 0.25s ease;
}

.algo_select-ctn span:hover {
  background-color: #024663;
}

.algo_select-ctn span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.4em;
  transition: 0.25s ease;
  border: 1px solid #fff;
  box-shadow: inset 0 0 0 0.45em #024663;
}

.switch-checkbox-ctn {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.switch-checkbox-ctn input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-text-label {
  font-size: 1em !important;
}

.switch-checkbox-ctn label.switch-label {
  cursor: pointer;
  width: 3em;
  min-width: 3em;
  height: 1.6em;
  background: grey;
  display: block;
  border-radius: 1em;
  position: relative;
}

.switch-checkbox-ctn label.switch-label:after {
  content: "";
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  width: 1.4em;
  height: 1.4em;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s;
}

.switch-checkbox-ctn input:checked + label.switch-label {
  background: #b2db2c;
}

.switch-checkbox-ctn input:checked + label.switch-label:after {
  left: calc(100% - 0.1em);
  transform: translateX(-100%);
}

.move-cells-ctn {
  display: flex;
  flex-direction: column;
  margin: 2em 10% 0 10%;
}

.move-cells-ctn button {
  font-size: 1.1em;
  padding: 0.2em 0.3em;
  margin-bottom: 1em;
}
