<header>
  <nav>
    <div><h1>Pathfinder</h1></div>
    <button class="main_btn" (click)="emitRun()">Run</button>
    <button (click)="emitClearWalls()">Clear</button>
    <button (click)="emitRandomMaze()">Random</button>
    <p>Algorithm :</p>
    <div class="algo_select-ctn">
      <label for="algo_select_bfs_inp">
        <input
          type="radio"
          name="algo_select"
          id="algo_select_bfs_inp"
          checked="checked"
          (change)="changeAlgo('BFS')"
        /><span>BFS</span></label
      >
    </div>
    <div class="algo_select-ctn">
      <label for="algo_select_dijkstra_inp"
        ><input
          type="radio"
          name="algo_select"
          id="algo_select_dijkstra_inp"
          (change)="changeAlgo('Dijkstra')"
        /><span>Dijkstra</span></label
      >
    </div>
    <div class="algo_select-ctn">
      <label for="algo_select_a_inp"
        ><input
          type="radio"
          name="algo_select"
          id="algo_select_a_inp"
          (change)="changeAlgo('A*')"
        /><span>A*</span></label
      >
    </div>
    <div class="switch-checkbox-ctn">
      <label for="allow_diagonals" class="switch-text-label"
        >Allow diagonals :</label
      >
      <input
        type="checkbox"
        id="allow_diagonals"
        name="allow_diagonals"
        (change)="switchAllowDiag($event)"
      />
      <label for="allow_diagonals" class="switch-label"></label>
    </div>
    <div class="switch-checkbox-ctn">
      <label for="show_explored" class="switch-text-label"
        >Show explored :</label
      >
      <input
        type="checkbox"
        id="show_explored"
        name="show_explored"
        (change)="switchShowExplored($event)"
      />
      <label for="show_explored" class="switch-label"></label>
    </div>
    <div class="move-cells-ctn">
      <button (click)="emitMoveStart()">Move start</button>
      <button>Move end</button>
    </div>
  </nav>
</header>
