<header>
  <nav>
    <div><h1>Pathfinder</h1></div>
    <button class="main_btn">Run</button>
    <button>Clear</button>
    <button>Random</button>
    <p>Algorithm :</p>
    <div class="algo_select-ctn">
      <input
        type="radio"
        name="algo_select"
        id="algo_select_bfs_inp"
        checked="checked"
      />
      <label for="algo_select_bfs_inp">BFS</label>
    </div>
    <div class="algo_select-ctn">
      <input type="radio" name="algo_select" id="algo_select_djikstra_inp" />
      <label for="algo_select_djikstra_inp">Djikstra</label>
    </div>
    <div class="algo_select-ctn">
      <input type="radio" name="algo_select" id="algo_select_a_inp" />
      <label for="algo_select_a_inp">A*</label>
    </div>
  </nav>
</header>
