.grid-table {
  border-collapse: collapse;
}

.grid-table td {
  border: 1px solid #f5f5f5;
  border-left: 0;
  border-top: 0;
  width: 25px;
  height: 25px;
  min-width: 25px;
}

.start-cell {
  background-color: var(--start-cell-color);
}

.end-cell {
  background-color: var(--end-cell-color);
}

.wall-cell {
  background-color: var(--wall-cell-color);
}

.path-cell {
  background-color: var(--path-cell-color);
}

.explored-cell {
  background-color: var(--explored-cell-color);
}
