.main-ctn {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header-ctn {
  position: fixed;
  height: 100%;
  width: 15%;
  min-width: 10em;
}

.grid-ctn {
  margin-left: max(15%, 10em);
}
