/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  --start-cell-color: #1ca160;
  --end-cell-color: #dd4e43;
  --wall-cell-color: #dbdbdb;
  --path-cell-color: #49e398;
}

@font-face {
  font-family: "roboto";

  src: url("fonts/roboto.ttf") format("truetype");
}

html,
body {
  margin: 0;
  font-family: "roboto";
}
